
@{
    ViewData["Title"] = "TableBranch";
}
@model WebBiaProject.ViewModel.TableBranchViewModel


<!-- Courses Start -->
<div class="container-fluid courses overflow-hidden py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Peri Pool Areas</h4>
            <h1 class="display-4 text-white mb-4">@Model.Branch.Name</h1>
            <h3 class="display-4 text-white mb-4"> @Model.Branch.Address</h3>
           
            <p class="text-white mb-0">
                Choose a table to enjoy our exclusive Peri Pool Areas. Experience luxurious amenities, a tranquil atmosphere, and top-tier service while you relax by the pool.
            </p>
            <p class="mb-1 text-success fs-3 fw-bold">Status: @Model.Branch.Status</p>
        </div>
        <div class="row gy-4 gx-0 justify-content-center">
            @foreach (var Table in Model.billiardTables)
            {
                @if (Table.Status.Name == "Sẵn Sàng")
                {

                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1 text-success fs-5 fw-bold">Status: @Table.Status.Name</p>
                                            
                                        </div>

                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3">@Table.Name</a>

                                <p class="mb-4">
                                    This table is available, you can book it.
                                </p>
                                <a  asp-controller="BookingPage" asp-action="index" asp-route-x="@Table.Id" class="btn btn-primary py-2 px-4"> <span>Booking now</span></a>
                            </div>
                        </div>
                    </div>

                }
                else if (Table.Status.Name == "Đã Đặt Bàn")
                    {
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1 text-warning fs-5 fw-bold">Status: @Table.Status.Name</p>
                                          
                                        </div>

                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3">@Table.Name</a>

                                <p class="mb-4">
                                    This table is in use. Please wait.
                                </p>
                                <button class="btn btn-primary py-2 px-4" disabled><span>Can't Book</span></button>
                            </div>
                        </div>
                    </div>

                    }
                else
                {
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="courses-item">
                            <div class="courses-item-inner p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="courses-icon-img p-3">
                                        <img src="img/logoPeri.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="data-info d-flex flex-column">
                                        <div class="courses-trainer d-flex align-items-center mb-1">
                                        </div>
                                        <div class="courses-date">
                                            <p class="mb-1 text-danger fs-5 fw-bold">Status: @Table.Status.Name</p>
                                   
                                        </div>

                                    </div>
                                </div>
                                <a href="#" class="d-inline-block h4 mb-3">@Table.Name</a>

                                <p class="mb-4">
                                    This table is in use. Please wait.
                                </p>
                                <button class="btn btn-primary py-2 px-4" disabled><span>Can't Book</span></button>
                            </div>
                        </div>
                    </div>

                }

            }
          
               
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var bookingModal = document.getElementById('bookingModal');
        bookingModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Nút "Play Now"
            var tableId = button.getAttribute('data-table-id');
            var tableName = button.getAttribute('data-table-name');

            // Điền dữ liệu vào form
            document.getElementById('TableId').value = tableId;
            document.getElementById('TableName').value = tableName;
        });
    });
</script>